@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import "tailwindcss";

:root {
  --background: #E3F9EF;
  --foreground: #1E2621;

  --primary-green: #42CDA0;
  --secondary-green: #E3F9EF;
  --secondary-text-green: #35413B;
  --green-border: #DBF0E9;

  --primary-white: #F3F3F3;
  --off-white: #F2F2F2;
}

body {
  font-family: Poppins, sans-serif;
  color: var(--foreground);
  background: var(--background);
}

.primary-button {
  font-weight: 400;
  border: 2px solid var(--foreground);
  padding: 10px 20px 10px 20px;
  border-radius: 5px;
  color: var(--primary-white);
  background-color: var(--foreground);
}

.primary-button:hover {
  cursor: pointer;
  color: var(--foreground);
  background-color: transparent;
}

.secondary-button {
  padding: 10px 20px 10px 20px;
  border-radius: 5px;
  border: 2px solid var(--foreground);
}

.secondary-button:hover {
  cursor: pointer;
  color: var(--primary-white);
  background-color: var(--foreground);
}

.navbar-button {
  font-size: 15px;
  padding: 7px 10px 7px 10px;
  border-radius: 5px;
  border: 2px solid var(--foreground);
}

.navbar-button:hover {
  cursor: pointer;
  color: var(--primary-white);
  background-color: var(--foreground);
}

.primary-green {
  color: var(--primary-green);
}

.secondary-text-green {
  color: var(--secondary-text-green);
}